<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Test/bootstrap.php"
	 colors="true"
	 verbose="true"
>

  <testsuites>
    <testsuite name="D7api">
      <directory suffix="Test.php">Test/</directory>
    </testsuite>
  </testsuites>

  <!-- Run code coverage reports, make coverage directory writable by php -->
  <!--
  <logging>
    <log type="coverage-html" target="Test/coverage" title="PHPUnit" 
         charset="UTF-8" yui="true" highlight="true"
         lowUpperBound="35" highLowerBound="90" />
  </logging>
  -->

  <!-- Exclude Test directory from code coverage report -->
  <filter>
    <whitelist>
      <directory suffix=".php">./</directory>
      <exclude>
        <directory>Test/</directory>        
      </exclude>
    </whitelist>
  </filter>

</phpunit>

